@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=PT+Sans:wght@700&display=swap");

$primary-color: #e3f9ff;
$primary-text-color: #434d5b;
$secondary-color: #0085a6;
$secondary-text-color: #ffffff;
$third-color: #007fff;
$third-text-color: $secondary-text-color;
$box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Poppins", sans-serif;
 background-color: $primary-color;
 color: $primary-text-color;
}

a {
 text-decoration: none;
 color: inherit;
}

.btn-primary {
 background-color: $third-color !important;
 background-image: linear-gradient(
  rgba(102, 178, 255, 0.5) 0%,
  rgba(0, 114, 229, 0.5) 100%
 );
 box-shadow: $box-shadow;
 border: 0 !important;

 &:hover,
 &:active,
 &:focus {
  background-color: $third-color !important;
 }
}

.svg-highlighted {
 background-color: rgba($secondary-color, 0.1);
 fill: $secondary-color;
 border-radius: 0.3rem;
 margin-right: 0.3rem;
}

.__animation {
 -webkit-transform: translateY(100px) scale(0.9);
 transform: translateY(100px) scale(0.9);
 -webkit-transition-delay: 0.3s;
 -o-transition-delay: 0.3s;
 transition-delay: 0.3s;
 -webkit-transition: 0.4s;
 -o-transition: 0.4s;
 opacity: 0.3;
 transition: all 0.4s, opacity 1s;
 &.active {
  opacity: 1;
  -webkit-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
 }
}

/* __ Navigation Bar __ */
.__navbar {
 position: sticky;
 top: 0;
 left: 0;
 width: 100%;
 height: 60px;
 max-height: 60px;
 padding: 0;
 background-color: #ffffff;
 color: $primary-text-color;
 backdrop-filter: blur(10px);
 -webkit-backdrop-filter: blur(10px);
 z-index: 1000;
 user-select: none;
 &.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: $box-shadow;
 }
 .__logo {
  display: flex;
  align-items: center;
  img {
   object-fit: cover;
   width: 50px;
   border-radius: 0.5rem;
  }
  h1 {
   font-size: 1.2rem;
   margin: 0 0.2rem;
   font-weight: 300;
   span {
    color: $secondary-color;
   }
  }
 }
 .__menu-btn {
  border-color: transparent;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  .navbar-toggler-icon {
   width: 1.25em;
   height: 1.25em;
  }
  &:focus {
   box-shadow: none;
   border-color: rgba(51, 51, 51, 0.2);
  }
 }
 .__menu {
  transition: all 0.2s ease-in-out;
  & > ul > li {
   margin: 0 10px;
   padding: 3px 15px;
   border-radius: 1rem;
   font-size: 0.9rem;
   &.active {
    background-color: rgba($third-color, 0.8);
    color: $secondary-text-color;
   }
   &:not(.active):hover {
    background-color: rgba($third-color, 0.1);
    border-bottom: 1px solid rgba(#333, 0.1);
   }
   &:active {
    opacity: 0.9;
   }
  }
  .dropdown-item {
   font-size: 0.9rem;
   &:active,
   &.active {
    background-color: rgba($third-color, 0.8);
    color: $secondary-text-color;
   }
   &:hover:not(.active) {
    background-color: rgba($third-color, 0.2);
   }
  }
 }
}

/* __ Home Page __ */
.__home-page {
 /* > Hero and Feature Section */
 .__hero-and-feature-binding-color {
  width: 100%;
  background: radial-gradient(
   circle at center,
   rgba($secondary-color, 0.05),
   #fff
  );
 }
 /* > Hero Section */
 .__hero-section {
  position: relative;
  width: 100%;
  padding: 3.5rem 1rem;
  background: transparent;
  .__details {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   h1 {
    font-size: 2.9rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-family: "PT Sans", sans-serif;
    span {
     background-color: rgba($third-color, 0.1);
     color: $secondary-color;
     padding: 0.2rem 0.3rem;
     border-radius: 0.5rem;
    }
   }
   p {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 2rem;
    line-height: 1.9;
   }
   .btn {
    font-weight: 500;
    padding: 0.6rem 2rem;
    font-size: 1rem;
   }
  }
  .__designs {
   img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba($secondary-color, 0.1);
    border-radius: 0.8rem;
    padding: 0 1.5rem;
   }
  }
 }
 /* > Feature Section */
 .__feature-section {
  width: 100%;
  padding: 4rem 2rem;
  background: rgba(#333, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  .__features {
   div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .main {
     .icon {
      width: 6rem;
      height: 6rem;
      padding: 2rem 0;
      background-color: rgba($secondary-color, 0.2);
      border-radius: 50%;
      margin-bottom: 1rem;
      svg {
       width: 2.5rem;
       height: 2.5rem;
       fill: $secondary-color;
      }
     }
     span {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
     }
    }
   }
  }
 }
 /* > B Section */
 .__b-section {
  width: 100%;
  padding: 4rem 2rem;
  .__card {
   width: 100%;
   padding: 2rem;
   border-radius: 0.7rem;
   box-shadow: $box-shadow;
   h3 {
    font-family: "PT Sans", sans-serif;
   }
   p {
    font-size: 0.9rem;
    padding: 1rem 0;
   }
  }
 }
 /* > FAQ Section */
 .__faq-section {
  padding: 1rem 2rem 5rem 2rem;
  .row {
   & > div:first-child {
    display: flex;
    justify-content: center;
    img {
     width: 45%;
     height: fit-content;
     object-fit: cover;
     object-position: center;
    }
   }
   .__faq-lists {
    button {
     font-weight: 600;
    }
    button:focus {
     box-shadow: none !important;
    }
   }
  }
 }
}
.__home-page,
.__updates-page {
 /* > Media Section */
 .__media-section {
  width: 100%;
  padding: 5rem 2rem 7rem 2rem;
  .__title {
   position: relative;
   margin-bottom: 1rem;
   h3 {
    width: fit-content;
    background-color: $primary-color;
    margin: 0 auto;
    padding: 0 2rem;
   }
   &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $secondary-color;
    top: 1rem;
    left: 0;
    z-index: -1;
   }
  }
  .__media {
   padding-top: 2rem;
   & > .row {
    height: 100%;
    & > .col-md-6 {
     width: 48% !important;
    }
    & > div {
     background-color: #fff;
     box-shadow: $box-shadow;
     & > .row {
      height: 100%;
      cursor: pointer;
     }
     .__header {
      padding: 0;
      position: relative;
      img {
       width: 100%;
       height: 100%;
       object-fit: cover;
      }
      &::after {
       content: "Click here to view more";
       display: block;
       position: absolute;
       width: 100%;
       background-color: lighten($third-color, 5%);
       opacity: 0.9;
       color: $third-text-color;
       text-shadow: $box-shadow;
       bottom: 0;
       left: 0;
       padding: 0.7rem;
       font-size: 0.8rem;
      }
      &::before {
       content: "";
       display: block;
       position: absolute;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.2);
       bottom: 0;
       left: 0;
      }
     }
     .__body {
      padding: 1.4rem;
      display: flex;
      flex-direction: column;
      p {
       max-height: 6rem;
       margin: 1rem 0;
       font-size: 0.88rem;
       overflow: hidden;
       text-overflow: ellipsis;
       mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
       );
       -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
       );
      }
      .btn {
       width: fit-content;
      }
      .date,
      .tags {
       font-size: 0.7rem;
       background-color: rgba($secondary-color, 0.1);
       padding: 0.2rem 0.5rem;
       border-radius: 0.5rem;
       margin: 0.2rem 0;
      }
     }
    }
   }
  }
 }
}

/* __ (About + Team + Contact + Updates + Gallery) Pages __ */
.__about-page,
.__team-page,
.__contact-page,
.__updates-page,
.__gallery-page {
 /* > Hero section */
 .__hero-section {
  position: relative;
  width: 100%;
  padding: 3rem 1rem;
  background-color: darken($primary-color, 4%);
  h1 {
   font-family: "PT Sans", sans-serif;
  }
  p {
   margin-top: 1rem;
   line-height: 1.7;
   font-size: 0.9rem;
  }
 }
}

/* __ About Page __ */
.__about-page {
}

/* __ Team Page __ */
.__team-page {
 /* > List section */
 .__list-section {
  background-color: lighten($primary-color, 3%);
  .__title {
   width: 100%;
   padding: 2.5rem;
   background-color: $secondary-color;
   color: $secondary-text-color;
   h3 {
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
   }
  }
  .__lists {
   padding: 2rem 0;
   row-gap: 1rem;
   justify-content: center;
   .__list {
    text-align: center;
    &:hover {
     opacity: 0.9;
    }
    img {
     width: 85%;
     object-fit: cover;
     aspect-ratio: 3 / 3;
     border-radius: 0.7rem;
     background-color: $primary-color;
     border: 1px solid rgba($secondary-color, 0.1);
    }
    h3 {
     font-size: 1.25rem;
     font-weight: 700;
     margin-top: 0.8rem;
     font-family: "PT Sans", sans-serif;
    }
    p {
     font-size: 0.7rem;
     margin-top: -0.5rem;
     font-weight: 500;
     color: $secondary-color;
    }
   }
  }
 }
}

/* __ Contact Page __ */
.__contact-page {
}

/* __ Footer __ */
.__footer {
 .__section {
  width: 100%;
  padding: 2rem;
  background-color: lighten($secondary-color, 5%);
  color: $secondary-text-color;
  min-height: 300px;
 }
 .__attribution {
  width: 100%;
  padding: 1rem 2rem;
  padding-top: 2rem;
  background-color: $secondary-color;
  color: $secondary-text-color;
  p {
   font-size: 0.85rem;
   line-height: 1.5rem;
  }
  img {
   width: 25px;
   height: 25px;
   margin-left: 1rem;
  }
  a:first-child img {
   margin-left: 0;
  }
 }
}

/* Media Queries */
@media screen and (max-width: 1199px) {
 .__navbar {
  .__menu {
   padding-top: 0.6rem;
   & > ul {
    max-width: 250px;
    border-radius: 0.4rem;
    background-color: #fff;
    box-shadow: $box-shadow;
   }
   & > ul > li {
    padding: 0.8rem 1rem;
    margin: 0;
    border-radius: 0;
    a {
     font-weight: 300;
    }
    &:first-child {
     border-radius: 0.4rem 0.4rem 0 0;
    }
    &:last-child {
     border-radius: 0 0 0.4rem 0.4rem;
    }
   }
  }
 }
}
@media screen and (max-width: 766px) {
 .__home-page {
  .__hero-section {
   padding: 1rem;
   text-align: center;
   .__details {
    padding: 0.3rem 1rem 5rem 1rem;
    order: 2;
    h1 {
     width: 100%;
     font-size: 2rem;
     line-height: 1.58;
     margin-top: 2rem;
    }
    p {
     font-size: 0.87rem;
     line-height: 1.84;
    }
    .__action {
     justify-content: center;
    }
    .btn {
     padding: 0.45rem 2rem;
    }
   }
   .__designs {
    text-align: center;
    img {
     max-width: 300px;
     aspect-ratio: 3 / 2;
    }
   }
  }
  .__feature-section {
   .container {
    p {
     font-size: 0.9rem;
    }
   }
  }
 }

 .__home-page,
 .__updates-page {
  .__media-section {
   .__title {
    svg {
     display: none;
    }
    h3 {
     font-size: 1.2rem;
     padding: 0 0.8rem;
     line-height: 1.5;
    }
   }
   .__media {
    .row > .col-md-6 {
     width: 100% !important;
    }
   }
  }
 }

 .__team-page {
  .__hero-section {
   h1 {
    font-size: 2.4rem;
   }
   p {
    font-size: 0.87rem;
   }
  }
  .__list-section {
   .__lists {
    .__list {
     img {
      width: 60%;
     }
    }
   }
  }
 }
}
