@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=PT+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  color: #2c2c2c;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  background-color: #0085a6 !important;
  border: none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #005c73 !important;
}

.svg-highlighted {
  background-color: rgba(0, 133, 166, 0.1);
  fill: #0085a6;
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}

.__animation {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  opacity: 0.3;
  transition: all 0.4s, opacity 1s;
}
.__animation.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.tawk-icon-right, iframe img {
  visibility: hidden !important;
  opacity: 0 !important;
  display: none !important;
  transform: scale(0) !important;
  background-color: red !important;
}

/* __ Navigation Bar __ */
.__navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  max-height: 60px;
  padding: 0;
  background-color: #f7f7f7;
  color: #2c2c2c;
  z-index: 1000;
  user-select: none;
}
.__navbar.scrolled {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.__navbar.scrolled .__menu > ul {
  background-color: #fff;
}
.__navbar .__logo {
  display: flex;
  align-items: center;
}
.__navbar .__logo img {
  object-fit: cover;
  width: 50px;
  border-radius: 0.5rem;
}
.__navbar .__logo h1 {
  font-size: 1.2rem;
  margin: 0 0.2rem;
  font-weight: 300;
}
.__navbar .__logo h1 span {
  color: #0085a6;
}
.__navbar .__menu-btn {
  border-color: transparent;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.__navbar .__menu-btn .navbar-toggler-icon {
  width: 1.25em;
  height: 1.25em;
}
.__navbar .__menu-btn:focus {
  box-shadow: none;
  border-color: rgba(51, 51, 51, 0.2);
}
.__navbar .__menu {
  transition: all 0.2s ease-in-out;
}
.__navbar .__menu > ul {
  background-color: #f7f7f7;
}
.__navbar .__menu > ul > li {
  margin: 0 10px;
  padding: 3px 15px;
  border-radius: 1rem;
  font-size: 0.9rem;
}
.__navbar .__menu > ul > li.active {
  background-color: rgba(0, 133, 166, 0.8);
  color: #fff;
}
.__navbar .__menu > ul > li:not(.active):hover {
  background-color: rgba(0, 133, 166, 0.1);
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.__navbar .__menu > ul > li:active {
  opacity: 0.9;
}
.__navbar .__menu .dropdown-item {
  font-size: 0.9rem;
}
.__navbar .__menu .dropdown-item:active, .__navbar .__menu .dropdown-item.active {
  background-color: rgba(0, 133, 166, 0.8);
  color: #fff;
}
.__navbar .__menu .dropdown-item:hover:not(.active) {
  background-color: rgba(0, 133, 166, 0.2);
}

/* __ Home Page __ */
.__home-page {
  /* > Hero Section */
  /* > A Section */
  /* > B Section */
  /* > FAQ Section */
}
.__home-page .__hero-section {
  position: relative;
  width: 100%;
  padding: 3.5rem 1rem;
  background: linear-gradient(to left, transparent, rgba(0, 133, 166, 0.2));
}
.__home-page .__hero-section .__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.__home-page .__hero-section .__details h1 {
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.__home-page .__hero-section .__details h1 span {
  background-color: rgba(0, 133, 166, 0.1);
  color: #0085a6;
  padding: 0 0.3rem;
  border-radius: 0.5rem;
}
.__home-page .__hero-section .__details p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.7;
}
.__home-page .__hero-section .__details .btn {
  font-weight: 500;
  padding: 0.6rem 2rem;
  font-size: 1rem;
}
.__home-page .__hero-section .__designs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 133, 166, 0.1);
  border-radius: 0.8rem;
}
.__home-page .__a-section {
  width: 100%;
  padding: 4rem 2rem;
  background-color: #f2f2f2;
}
.__home-page .__b-section {
  width: 100%;
  padding: 4rem 2rem;
}
.__home-page .__b-section .__card {
  width: 100%;
  padding: 2rem;
  border-radius: 0.7rem;
}
.__home-page .__b-section .__card h3 {
  font-family: "PT Sans", sans-serif;
}
.__home-page .__b-section .__card p {
  font-size: 0.9rem;
  padding: 1rem 0;
}
.__home-page .__faq-section {
  padding: 1rem 2rem 5rem 2rem;
}
.__home-page .__faq-section .row img {
  width: 100%;
}
.__home-page .__faq-section .row .__faq-lists button {
  font-weight: 600;
}
.__home-page .__faq-section .row .__faq-lists button:focus {
  box-shadow: none !important;
}

.__home-page,
.__updates-page {
  /* > Media Section */
}
.__home-page .__media-section,
.__updates-page .__media-section {
  width: 100%;
  padding: 5rem 2rem 7rem 2rem;
}
.__home-page .__media-section .__title,
.__updates-page .__media-section .__title {
  position: relative;
  margin-bottom: 1rem;
}
.__home-page .__media-section .__title h3,
.__updates-page .__media-section .__title h3 {
  width: fit-content;
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 0 2rem;
}
.__home-page .__media-section .__title::before,
.__updates-page .__media-section .__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0085a6;
  top: 1rem;
  left: 0;
  z-index: -1;
}
.__home-page .__media-section .__media,
.__updates-page .__media-section .__media {
  padding-top: 2rem;
}
.__home-page .__media-section .__media > .row,
.__updates-page .__media-section .__media > .row {
  height: 100%;
}
.__home-page .__media-section .__media > .row > .col-md-6,
.__updates-page .__media-section .__media > .row > .col-md-6 {
  width: 48% !important;
}
.__home-page .__media-section .__media > .row > div,
.__updates-page .__media-section .__media > .row > div {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.__home-page .__media-section .__media > .row > div > .row,
.__updates-page .__media-section .__media > .row > div > .row {
  height: 100%;
  cursor: pointer;
}
.__home-page .__media-section .__media > .row > div .__header,
.__updates-page .__media-section .__media > .row > div .__header {
  padding: 0;
  position: relative;
}
.__home-page .__media-section .__media > .row > div .__header img,
.__updates-page .__media-section .__media > .row > div .__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.__home-page .__media-section .__media > .row > div .__header::after,
.__updates-page .__media-section .__media > .row > div .__header::after {
  /* blurry */
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}
.__home-page .__media-section .__media > .row > div .__body,
.__updates-page .__media-section .__media > .row > div .__body {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
}
.__home-page .__media-section .__media > .row > div .__body p,
.__updates-page .__media-section .__media > .row > div .__body p {
  max-height: 6rem;
  margin: 1rem 0;
  font-size: 0.88rem;
  overflow: hidden;
  text-overflow: ellipsis;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.__home-page .__media-section .__media > .row > div .__body .btn,
.__updates-page .__media-section .__media > .row > div .__body .btn {
  width: fit-content;
}
.__home-page .__media-section .__media > .row > div .__body .date,
.__home-page .__media-section .__media > .row > div .__body .tags,
.__updates-page .__media-section .__media > .row > div .__body .date,
.__updates-page .__media-section .__media > .row > div .__body .tags {
  font-size: 0.7rem;
  background-color: rgba(0, 133, 166, 0.1);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0.2rem 0;
}

/* __ (About + Team + Contact + Updates + Gallery) Pages __ */
.__about-page,
.__team-page,
.__contact-page,
.__updates-page,
.__gallery-page {
  /* > Hero section */
}
.__about-page .__hero-section,
.__team-page .__hero-section,
.__contact-page .__hero-section,
.__updates-page .__hero-section,
.__gallery-page .__hero-section {
  position: relative;
  width: 100%;
  padding: 3rem 1rem;
  background-color: #ededed;
}
.__about-page .__hero-section h1,
.__team-page .__hero-section h1,
.__contact-page .__hero-section h1,
.__updates-page .__hero-section h1,
.__gallery-page .__hero-section h1 {
  font-family: "PT Sans", sans-serif;
}
.__about-page .__hero-section p,
.__team-page .__hero-section p,
.__contact-page .__hero-section p,
.__updates-page .__hero-section p,
.__gallery-page .__hero-section p {
  margin-top: 1rem;
  line-height: 1.7;
  font-size: 0.9rem;
}

/* __ About Page __ */
/* __ Team Page __ */
.__team-page {
  /* > List section */
}
.__team-page .__list-section {
  background-color: white;
}
.__team-page .__list-section .__title {
  width: 100%;
  padding: 2.5rem;
  background-color: #0085a6;
  color: #fff;
  margin-top: 2rem;
}
.__team-page .__list-section .__title h3 {
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}
.__team-page .__list-section .__lists {
  padding: 2rem 0;
  row-gap: 1rem;
  justify-content: center;
}
.__team-page .__list-section .__lists .__list {
  text-align: center;
}
.__team-page .__list-section .__lists .__list:hover {
  opacity: 0.9;
}
.__team-page .__list-section .__lists .__list img {
  width: 85%;
  object-fit: cover;
  aspect-ratio: 3/3;
  border-radius: 0.7rem;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 133, 166, 0.1);
}
.__team-page .__list-section .__lists .__list h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.8rem;
  font-family: "PT Sans", sans-serif;
}
.__team-page .__list-section .__lists .__list p {
  font-size: 0.7rem;
  margin-top: -0.5rem;
  font-weight: 500;
  color: #0085a6;
}

/* __ Contact Page __ */
/* __ Footer __ */
.__footer {
  width: 100%;
  padding: 3rem 2rem;
  background-color: #0085a6;
  color: #fff;
}
.__footer p {
  font-size: 0.85rem;
  padding: 0.5rem 0;
  line-height: 1.5rem;
}
.__footer img {
  width: 25px;
  height: 25px;
  margin-left: 1rem;
}
.__footer a:first-child img {
  margin-left: 0;
}

/* Media Queries */
@media screen and (max-width: 1199px) {
  .__navbar .__menu {
    padding-top: 0.6rem;
  }
  .__navbar .__menu > ul {
    max-width: 250px;
    border-radius: 0.4rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  .__navbar .__menu > ul > li {
    padding: 0.8rem 1rem;
    margin: 0;
    border-radius: 0;
  }
  .__navbar .__menu > ul > li a {
    font-weight: 300;
  }
  .__navbar .__menu > ul > li:first-child {
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .__navbar .__menu > ul > li:last-child {
    border-radius: 0 0 0.4rem 0.4rem;
  }
}
@media screen and (max-width: 766px) {
  .__home-page .__hero-section {
    padding: 1rem;
    text-align: center;
  }
  .__home-page .__hero-section .__details {
    padding: 0.3rem 1rem 5rem 1rem;
    order: 2;
  }
  .__home-page .__hero-section .__details h1 {
    width: 100%;
    font-size: 2rem;
    line-height: 1.58;
    margin-top: 2rem;
  }
  .__home-page .__hero-section .__details p {
    font-size: 0.87rem;
    line-height: 1.84;
  }
  .__home-page .__hero-section .__details .__action {
    justify-content: center;
  }
  .__home-page .__hero-section .__details .btn {
    padding: 0.45rem 2rem;
  }
  .__home-page .__hero-section .__designs {
    text-align: center;
  }
  .__home-page .__hero-section .__designs img {
    max-width: 300px;
    aspect-ratio: 3/2;
  }
  .__home-page .__a-section .container p {
    font-size: 0.9rem;
  }
  .__home-page .__media-section .__title svg,
  .__updates-page .__media-section .__title svg {
    display: none;
  }
  .__home-page .__media-section .__title h3,
  .__updates-page .__media-section .__title h3 {
    font-size: 1.2rem;
    padding: 0 0.8rem;
    line-height: 1.5;
  }
  .__home-page .__media-section .__media .row > .col-md-6,
  .__updates-page .__media-section .__media .row > .col-md-6 {
    width: 100% !important;
  }
  .__team-page .__hero-section h1 {
    font-size: 2.4rem;
  }
  .__team-page .__hero-section p {
    font-size: 0.87rem;
  }
  .__team-page .__list-section .__lists .__list img {
    width: 60%;
  }
}