@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=PT+Sans:wght@700&display=swap");

$primary-color: #f6f7cf;
$primary-text-color: #2c2c2c;
$secondary-color: #0085a6;
$secondary-text-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $primary-color;
  color: $primary-text-color;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  background-color: $secondary-color !important;
  border: none;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($secondary-color, 10%) !important;
  }
}

/* __ Navigation Bar __ */
.__navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 55px;
  max-height: 60px;
  padding: 0;
  background-color: $primary-color;
  color: $primary-text-color;
  z-index: 1000;
  user-select: none;
  .__logo {
    display: flex;
    align-items: center;
    img {
      object-fit: cover;
      width: 50px;
      border-radius: 0.2rem;
    }
    h1 {
      font-size: 1.2rem;
      margin: 0;
      font-weight: 300;
      span {
        color: $secondary-color;
      }
    }
  }
  .__menu-btn {
    border-color: transparent;
    .navbar-toggler-icon {
      width: 1.25em;
      height: 1.25em;
    }
    &:focus {
      box-shadow: none;
      border-color: rgba(51, 51, 51, 0.4);
    }
  }
  .__menu {
    & > ul {
      background-color: $primary-color;
    }
    & > ul > li {
      margin: 0 10px;
      padding: 3px 15px;
      border-radius: 1rem;
      background-color: rgba($secondary-color, 0.05);
      font-size: 0.9rem;
      border-bottom: 1px solid rgba($secondary-color, 0.2);
      &.active {
        background-color: rgba($secondary-color, 0.5);
        color: $secondary-text-color;
      }
      &:not(.active):hover {
        background-color: rgba($secondary-color, 0.1);
      }
      &:active {
        opacity: 0.9;
      }
    }
  }
}

/* __ Home Page __ */
.__home-page {
  /* > Hero Section */
  .__hero-section {
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 4rem 1rem;
    .__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      h1 {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 1.3;
        span {
          background-color: rgba($secondary-color, 0.1);
          border-radius: 0.5rem;
          padding: 0 0.3rem;
        }
      }
      p {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 2rem;
        line-height: 1.7;
      }
      .btn {
        font-weight: 500;
        padding: 0.6rem 2rem;
        font-size: 1rem;
      }
    }
    .__designs {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* __ Team Page __ */
.__team-page {
  background-color: darken($primary-color, 4%);
  /* > Hero section */
  .__hero-section {
    width: 100%;
    padding: 3rem 1rem;
    h1 {
      font-family: "PT Sans", sans-serif;
    }
    p {
      margin-top: 1rem;
      line-height: 1.7;
      font-size: 0.9rem;
    }
  }
  /* > List section */
  .__list-section {
    .__title {
      width: 100%;
      padding: 2.5rem;
      background-color: $secondary-color;
      color: $secondary-text-color;
      margin-top: 2rem;
      h3 {
        font-size: 1.4rem;
        margin: 0;
        text-align: center;
        font-weight: 700;
        font-family: "PT Sans", sans-serif;
      }
    }
    .__lists {
      padding: 2rem 0;
      row-gap: 1rem;
      justify-content: center;
      .__list {
        text-align: center;
        img {
          width: 85%;
          object-fit: cover;
          aspect-ratio: 3 / 3;
          border-radius: 0.7rem;
          border: 1px solid rgba($secondary-color, 0.1);
        }
        h3 {
          font-size: 1.25rem;
          font-weight: 700;
          margin-top: 0.8rem;
          font-family: "PT Sans", sans-serif;
        }
        p {
          font-size: 0.7rem;
          margin-top: -0.5rem;
          font-weight: 500;
          color: $secondary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 766px) {
  .__navbar {
    .__menu {
      padding-top: 0.6rem;
      & > ul {
        max-width: 300px;
        border-radius: 0.8rem;
        background-color: #fff;
      }
      & > ul > li {
        padding: 0.8rem 1rem;
        margin: 0;
        border-radius: 0;
        a {
          font-weight: 300;
        }
        &:first-child {
          border-radius: 0.7rem 0.7rem 0 0;
        }
        &:last-child {
          border-radius: 0 0 0.7rem 0.7rem;
        }
      }
    }
  }

  .__home-page {
    .__hero-section {
      padding: 0 1rem;
      text-align: center;
      .__details {
        padding: 2rem 1rem;
        order: 2;
        h1 {
          width: 100%;
          font-size: 2.2rem;
          line-height: 1.58;
        }
        p {
          font-size: 0.87rem;
          line-height: 1.84;
        }
        .__action {
          justify-content: center;
        }
        .btn {
          padding: 0.45rem 2rem;
        }
      }
      .__designs {
        text-align: center;
        img {
          max-width: 100px;
        }
      }
    }
  }

  .__team-page {
    .__list-section {
      .__lists {
        .__list {
          img {
            width: 60%;
          }
        }
      }
    }
  }
}
