@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f7cf;
  color: #2c2c2c;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  background-color: #0085a6 !important;
  border: none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #005c73 !important;
}

/* __ Navigation Bar __ */
.__navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 55px;
  max-height: 60px;
  padding: 0;
  background-color: #f6f7cf;
  color: #2c2c2c;
  z-index: 1000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.__navbar .__logo {
  display: flex;
  align-items: center;
}
.__navbar .__logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  border-radius: 0.2rem;
}
.__navbar .__logo h1 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 300;
}
.__navbar .__logo h1 span {
  color: #0085a6;
}
.__navbar .__menu-btn {
  border-color: transparent;
}
.__navbar .__menu-btn .navbar-toggler-icon {
  width: 1.25em;
  height: 1.25em;
}
.__navbar .__menu-btn:focus {
  box-shadow: none;
  border-color: rgba(51, 51, 51, 0.4);
}
.__navbar .__menu > ul {
  background-color: #f6f7cf;
}
.__navbar .__menu > ul > li {
  margin: 0 10px;
  padding: 3px 15px;
  border-radius: 1rem;
  background-color: rgba(0, 133, 166, 0.05);
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(0, 133, 166, 0.2);
}
.__navbar .__menu > ul > li.active {
  background-color: rgba(0, 133, 166, 0.5);
  color: #fff;
}
.__navbar .__menu > ul > li:not(.active):hover {
  background-color: rgba(0, 133, 166, 0.1);
}
.__navbar .__menu > ul > li:active {
  opacity: 0.9;
}

/* __ Home Page __ */
.__home-page {
  /* > Hero Section */
}
.__home-page .__hero-section {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 1rem;
}
.__home-page .__hero-section .__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.__home-page .__hero-section .__details h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1.3;
}
.__home-page .__hero-section .__details h1 span {
  background-color: rgba(0, 133, 166, 0.1);
  border-radius: 0.5rem;
  padding: 0 0.3rem;
}
.__home-page .__hero-section .__details p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.7;
}
.__home-page .__hero-section .__details .btn {
  font-weight: 500;
  padding: 0.6rem 2rem;
  font-size: 1rem;
}
.__home-page .__hero-section .__designs img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .__navbar .__menu {
    padding-top: 0.6rem;
  }
  .__navbar .__menu > ul {
    max-width: 300px;
    border-radius: 0.8rem;
  }
  .__navbar .__menu > ul > li {
    padding: 0.8rem 1rem;
    margin: 0;
    border-radius: 0;
  }
  .__navbar .__menu > ul > li a {
    font-weight: 300;
  }
  .__navbar .__menu > ul > li:first-child {
    border-radius: 0.7rem 0.7rem 0 0;
  }
  .__navbar .__menu > ul > li:last-child {
    border-radius: 0 0 0.7rem 0.7rem;
  }
  .__home-page .__hero-section {
    padding: 0 1rem;
  }
  .__home-page .__hero-section .__details {
    padding: 1rem;
    order: 2;
  }
  .__home-page .__hero-section .__details h1 {
    font-size: 2.4rem;
  }
  .__home-page .__hero-section .__details p {
    font-size: 1rem;
    line-height: 1.84;
  }
  .__home-page .__hero-section .__details .btn {
    padding: 0.45rem 2rem;
  }
  .__home-page .__hero-section .__designs {
    text-align: center;
  }
  .__home-page .__hero-section .__designs img {
    max-width: 100px;
  }
}