@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

$primary-color: #f6f7cf;
$primary-text-color: #2c2c2c;
$secondary-color: #0085a6;
$secondary-text-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $primary-color;
  color: $primary-text-color;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  background-color: $secondary-color !important;
  border: none;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($secondary-color, 10%) !important;
  }
}

/* __ Navigation Bar __ */
.__navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 60px;
  padding: 0;
  background-color: $primary-color;
  color: $primary-text-color;
  z-index: 1000;
  user-select: none;
  .__logo {
    display: flex;
    align-items: center;
    img {
      object-fit: cover;
      width: 40px;
      border-radius: 0.2rem;
    }
  }
  .__menu-btn {
    border-color: transparent;
    .navbar-toggler-icon {
      width: 1.25em;
      height: 1.25em;
    }
    &:focus {
      box-shadow: none;
      border-color: rgba(51, 51, 51, 0.4);
    }
  }
  .__menu {
    & > ul {
      background-color: $primary-color;
    }
    & > ul > li {
      margin: 0 10px;
      padding: 3px 15px;
      border-radius: 1rem;
      background-color: rgba($secondary-color, 0.05);
      font-size: 0.9rem;
      &.active {
        background-color: rgba($secondary-color, 0.5);
        color: $secondary-text-color;
      }
      &:not(.active):hover {
        background-color: rgba($secondary-color, 0.1);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}

/* __ Home Page __ */
.__home-page {
  /* > Hero Section */
  .__hero-section {
    width: 100%;
    min-height: 100vh;
    padding: 3rem 0;
    .__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 0 1rem 0 5rem;
      h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 2rem;
        line-height: 1.7;
      }
      .btn {
        font-weight: 500;
      }
    }
    .__designs {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .__navbar {
    .__menu {
      padding-top: 0.6rem;
      & > ul {
        max-width: 300px;
        border-radius: 0.8rem;
      }
      & > ul > li {
        padding: 0.8rem 1rem;
        margin: 0;
        border-radius: 0;
        &:first-child {
          border-radius: 0.7rem 0.7rem 0 0;
        }
        &:last-child {
          border-radius: 0 0 0.7rem 0.7rem;
        }
      }
    }
  }

  .__home-page {
    .__hero-section {
      padding: 0;
      .__details {
        padding: 1rem;
        order: 2;
      }
      .__designs {
        text-align: center;
        img {
          max-width: 100px;
        }
      }
    }
  }
}
