@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=PT+Sans:wght@700&display=swap");
:root {
  --fc-border-color: rgba(67, 77, 91, 0.116);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3f9ff;
  color: #434d5b;
  font-family: "Open Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

p {
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  background-color: #0073e6 !important;
  background-image: linear-gradient(rgba(102, 178, 255, 0.5) 0%, rgba(0, 114, 229, 0.5) 100%);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border: 0 !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #0073e6 !important;
}

.svg-highlighted {
  background-color: rgba(0, 115, 230, 0.1);
  fill: #0073e6;
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}

.__animation {
  -webkit-transform: translateY(100px) scale(0.9);
  transform: translateY(100px) scale(0.9);
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  opacity: 0.3;
  transition: all 0.4s, opacity 1s;
}
.__animation.active {
  opacity: 1;
  -webkit-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
}

.modal {
  z-index: 1000000000;
}

.modal-backdrop {
  z-index: 999999999;
}

/* __ Navigation Bar __ */
.__navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  max-height: 65px;
  padding: 0;
  background-color: #ffffff;
  color: #434d5b;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 100000000;
  user-select: none;
}
.__navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.__navbar .__logo {
  display: flex;
  align-items: center;
}
.__navbar .__logo img {
  object-fit: cover;
  width: 50px;
  border-radius: 0.5rem;
}
.__navbar .__logo h1 {
  font-size: 1.2rem;
  margin: 0 0.2rem;
  font-weight: 400;
}
.__navbar .__logo h1 span {
  color: #0073e6;
}
.__navbar .__menu-btn {
  border-color: transparent;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.__navbar .__menu-btn .navbar-toggler-icon {
  width: 1.25em;
  height: 1.25em;
}
.__navbar .__menu-btn:focus {
  box-shadow: none;
  border-color: rgba(51, 51, 51, 0.2);
}
.__navbar .__menu {
  transition: all 0.2s ease-in-out;
}
.__navbar .__menu > ul > li {
  margin: 0 10px;
  padding: 3px 15px;
  border-radius: 1rem;
  font-size: 0.9rem;
  border: 1px solid transparent;
}
.__navbar .__menu > ul > li.active {
  background-color: rgba(0, 115, 230, 0.8);
  color: #ffffff;
}
.__navbar .__menu > ul > li:not(.active):hover {
  background-color: rgba(0, 115, 230, 0.1);
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.__navbar .__menu > ul > li:active {
  opacity: 0.9;
}
.__navbar .__menu .dropdown-item {
  font-size: 0.9rem;
}
.__navbar .__menu .dropdown-item:active, .__navbar .__menu .dropdown-item.active {
  background-color: rgba(0, 115, 230, 0.8);
  color: #ffffff;
}
.__navbar .__menu .dropdown-item:hover:not(.active) {
  background-color: rgba(0, 115, 230, 0.2);
}

body:not(.__home-page) .navbar {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

/* __ Home Page __ */
.__home-page {
  /* > Hero Section */
  /* > About Section */
  /* > Details Section */
  /* > Feature Section */
  /* > Update Section */
  /* > FAQ Section */
}
.__home-page .__hero-section {
  position: relative;
  width: 100%;
  padding: 6rem 1rem 7rem 1rem;
  backdrop-filter: blur(16px);
  background: #fff;
}
.__home-page .__hero-section .__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.__home-page .__hero-section .__details h1 {
  font-size: 2.9rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1.4;
  font-family: "PT Sans", sans-serif;
}
.__home-page .__hero-section .__details h1 span {
  color: #0073e6;
}
.__home-page .__hero-section .__details p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.9;
  color: #6f7f95;
}
.__home-page .__hero-section .__details .__action .btn {
  width: fit-content;
  font-weight: 500;
  padding: 0.6rem 2rem;
  font-size: 1rem;
}
.__home-page .__hero-section .__designs .carousel-inner {
  border-radius: 0.8rem;
}
.__home-page .__hero-section .__designs img {
  width: 100%;
  max-height: 400px;
  aspect-ratio: 3/3;
  object-fit: cover;
  background-color: rgba(0, 115, 230, 0.1);
  border-radius: 0.8rem;
}
.__home-page .__about-section {
  width: 100%;
  padding: 6rem 2rem 3rem 2rem;
  min-height: 100vh;
}
.__home-page .__about-section .__intro span {
  color: #0073e6;
}
.__home-page .__about-section .__intro h2 {
  margin: 0;
  padding: 1rem 0 2rem 0;
}
.__home-page .__about-section .__intro p {
  color: #6f7f95;
}
.__home-page .__about-section .__switch section {
  background-color: rgba(0, 115, 230, 0.1);
  border-radius: 16px;
  margin: 2rem 0;
  padding: 2rem;
}
.__home-page .__about-section .__switch section h5 {
  font-size: 1.2rem;
}
.__home-page .__about-section .__switch section p,
.__home-page .__about-section .__switch section a {
  font-size: 0.85rem;
  line-height: 1.8;
  padding: 1rem 0;
  margin: 0;
}
.__home-page .__about-section .__switch section a {
  color: #0073e6;
}
.__home-page .__about-section .__switch section a:hover {
  text-decoration: underline;
}
.__home-page .__about-section .__images img {
  width: 100%;
  height: 100%;
  min-height: 300px;
  object-fit: cover;
}
.__home-page .__details-section {
  width: 100%;
  padding: 6rem 2rem;
  background: rgba(51, 51, 51, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.__home-page .__details-section .__card {
  width: 100%;
  padding: 2rem;
  border-radius: 0.7rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.__home-page .__details-section .__card h3 {
  font-family: "PT Sans", sans-serif;
}
.__home-page .__details-section .__card p {
  font-size: 0.9rem;
  padding: 1rem 0;
  color: #6f7f95;
}
.__home-page .__feature-section {
  width: 100%;
  padding: 0rem 2rem 4rem 2rem;
  background: rgba(51, 51, 51, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.__home-page .__feature-section .__features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.__home-page .__feature-section .__features div .main {
  padding: 2.5rem;
  border-radius: 13px;
}
.__home-page .__feature-section .__features div .main .icon {
  width: 6rem;
  height: 6rem;
  padding: 2rem 0;
  border: 1px solid rgba(0, 115, 230, 0.2);
  background-color: rgba(0, 115, 230, 0.1);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-bottom: 2rem;
}
.__home-page .__feature-section .__features div .main .icon svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #0073e6;
}
.__home-page .__feature-section .__features div .main span {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.__home-page .__feature-section .__features div .main p:first-child {
  font-weight: 700;
}
.__home-page .__feature-section .__features div .main p:last-child {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8;
  text-align: center;
}
.__home-page .__update-section {
  position: relative;
  width: 100%;
  padding: 8rem 1rem 2rem 1rem;
}
.__home-page .__update-section .__posts-carousel {
  max-width: 450px;
}
.__home-page .__update-section .__posts-carousel .carousel-indicators {
  bottom: -60px;
}
.__home-page .__update-section .__posts-carousel .carousel-indicators [data-bs-target] {
  background-color: rgba(0, 115, 230, 0.4);
  height: 7px;
}
.__home-page .__update-section .__posts-carousel .carousel-indicators [data-bs-target].active {
  background-color: #0073e6;
}
.__home-page .__update-section .card p > *,
.__home-page .__update-section .card h5 > * {
  background-color: #434d5b;
}
.__home-page .__update-section .row {
  align-items: center;
}
.__home-page .__update-section .row span {
  color: #0073e6;
}
.__home-page .__update-section .row h2 {
  margin: 0;
  padding: 1rem 0 0.5rem 0;
}
.__home-page .__update-section .row #calendar h2 {
  font-size: 1rem;
  padding: 0;
  font-weight: 400;
  color: #6f7f95;
}
.__home-page .__update-section .row #calendar button {
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  background-color: #0073e6;
  border: 0;
  color: #ffffff;
}
.__home-page .__update-section .row #calendar button span {
  color: #ffffff;
}
.__home-page .__update-section .row #calendar tr {
  background-color: rgba(0, 115, 230, 0.01);
}
.__home-page .__update-section .row #calendar tr[role=row] td:hover {
  background-color: rgba(0, 115, 230, 0.1);
}
.__home-page .__update-section .row #calendar tr td .fc-event {
  cursor: pointer;
}
.__home-page .__update-section .row #calendar tr td a {
  text-align: center;
  width: 100%;
}
.__home-page .__faq-section {
  padding: 5rem 2rem 5rem 2rem;
  background: rgba(51, 51, 51, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.__home-page .__faq-section .row > div:first-child {
  display: flex;
  justify-content: center;
}
.__home-page .__faq-section .row > div:first-child img {
  width: 45%;
  height: fit-content;
  object-fit: cover;
  object-position: center;
}
.__home-page .__faq-section .row .__faq-lists .accordion-body {
  color: #6f7f95;
  line-height: 1.7rem;
  font-size: 0.9rem;
}
.__home-page .__faq-section .row .__faq-lists button {
  font-weight: 600;
  color: #596678;
}
.__home-page .__faq-section .row .__faq-lists button:focus {
  box-shadow: none !important;
}

.__home-page,
.__updates-page {
  /* > Media Section */
}
.__home-page .__media-section,
.__updates-page .__media-section {
  width: 100%;
  padding: 7rem 2rem 10rem 2rem;
}
.__home-page .__media-section .__title,
.__updates-page .__media-section .__title {
  position: relative;
  margin-bottom: 1rem;
}
.__home-page .__media-section .__title h3,
.__updates-page .__media-section .__title h3 {
  width: fit-content;
  background-color: #e3f9ff;
  margin: 0 auto;
  padding: 0 2rem;
}
.__home-page .__media-section .__title::before,
.__updates-page .__media-section .__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0073e6;
  top: 1rem;
  left: 0;
  z-index: -1;
}
.__home-page .__media-section .__media,
.__updates-page .__media-section .__media {
  position: relative;
  padding-top: 2rem;
}
.__home-page .__media-section .__media #mediaLoading > div,
.__updates-page .__media-section .__media #mediaLoading > div {
  min-height: 300px;
}
.__home-page .__media-section .__media > .row,
.__updates-page .__media-section .__media > .row {
  height: 100%;
}
.__home-page .__media-section .__media > .row > .col-md-6,
.__updates-page .__media-section .__media > .row > .col-md-6 {
  width: 48% !important;
}
.__home-page .__media-section .__media > .row > div,
.__updates-page .__media-section .__media > .row > div {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.__home-page .__media-section .__media > .row > div > .row,
.__updates-page .__media-section .__media > .row > div > .row {
  height: 100%;
  cursor: pointer;
}
.__home-page .__media-section .__media > .row > div > .row > div:last-child,
.__updates-page .__media-section .__media > .row > div > .row > div:last-child {
  background-color: #fff;
}
.__home-page .__media-section .__media > .row > div .__header,
.__updates-page .__media-section .__media > .row > div .__header {
  padding: 0;
  position: relative;
}
.__home-page .__media-section .__media > .row > div .__header img,
.__updates-page .__media-section .__media > .row > div .__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.__home-page .__media-section .__media > .row > div .__header::after,
.__updates-page .__media-section .__media > .row > div .__header::after {
  content: "View more";
  display: block;
  position: absolute;
  background-color: #1a8dff;
  color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.__home-page .__media-section .__media > .row > div .__header::before,
.__updates-page .__media-section .__media > .row > div .__header::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(67, 77, 91, 0.4);
  bottom: 0;
  left: 0;
}
.__home-page .__media-section .__media > .row > div .__body,
.__updates-page .__media-section .__media > .row > div .__body {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
}
.__home-page .__media-section .__media > .row > div .__body h5,
.__updates-page .__media-section .__media > .row > div .__body h5 {
  line-height: 1.8rem;
}
.__home-page .__media-section .__media > .row > div .__body p,
.__updates-page .__media-section .__media > .row > div .__body p {
  line-height: 1.5rem;
  max-height: 8rem;
  margin: 1rem 0;
  font-size: 0.88rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6f7f95;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.__home-page .__media-section .__media > .row > div .__body .btn,
.__updates-page .__media-section .__media > .row > div .__body .btn {
  width: fit-content;
}
.__home-page .__media-section .__media > .row > div .__body .date,
.__home-page .__media-section .__media > .row > div .__body .tags,
.__updates-page .__media-section .__media > .row > div .__body .date,
.__updates-page .__media-section .__media > .row > div .__body .tags {
  font-size: 0.7rem;
  background-color: rgba(0, 115, 230, 0.1);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0.2rem 0;
}
.__home-page .__media-show-more-box img,
.__updates-page .__media-show-more-box img {
  width: 100%;
  object-fit: cover;
}

/* __ (About + Team + Contact + Updates + Gallery) Pages __ */
.__about-page,
.__team-page,
.__contact-page,
.__updates-page,
.__gallery-page,
.__donate-page {
  /* > Hero section */
}
.__about-page .__hero-section,
.__team-page .__hero-section,
.__contact-page .__hero-section,
.__updates-page .__hero-section,
.__gallery-page .__hero-section,
.__donate-page .__hero-section {
  position: relative;
  width: 100%;
  padding: 3rem 1rem;
  background-color: rgba(0, 115, 230, 0.1);
}
.__about-page .__hero-section h1,
.__team-page .__hero-section h1,
.__contact-page .__hero-section h1,
.__updates-page .__hero-section h1,
.__gallery-page .__hero-section h1,
.__donate-page .__hero-section h1 {
  font-family: "PT Sans", sans-serif;
}
.__about-page .__hero-section p,
.__team-page .__hero-section p,
.__contact-page .__hero-section p,
.__updates-page .__hero-section p,
.__gallery-page .__hero-section p,
.__donate-page .__hero-section p {
  margin-top: 1rem;
  line-height: 1.7;
  font-size: 0.9rem;
  color: #6f7f95;
}

/* __ About Page __ */
/* __ Team Page __ */
.__team-page {
  /* > List section */
}
.__team-page .__list-section {
  background-color: #f2fcff;
}
.__team-page .__list-section .__title {
  width: 100%;
  padding: 2.5rem;
  background-color: #0073e6;
  color: #ffffff;
}
.__team-page .__list-section .__title h3 {
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}
.__team-page .__list-section .__lists {
  padding: 2rem 0;
  row-gap: 1rem;
  justify-content: center;
}
.__team-page .__list-section .__lists .__list {
  text-align: center;
}
.__team-page .__list-section .__lists .__list:hover {
  opacity: 0.9;
}
.__team-page .__list-section .__lists .__list img {
  width: 85%;
  object-fit: cover;
  aspect-ratio: 3/3;
  border-radius: 0.7rem;
  background-color: #e3f9ff;
  border: 1px solid rgba(0, 115, 230, 0.1);
}
.__team-page .__list-section .__lists .__list h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.8rem;
  font-family: "PT Sans", sans-serif;
}
.__team-page .__list-section .__lists .__list p {
  font-size: 0.75rem;
  margin-bottom: 0;
  margin-top: -0.5rem;
  font-weight: 500;
  color: #0073e6;
}
.__team-page .__list-section .__lists .__list span {
  display: block;
  font-size: 0.6rem;
  font-weight: 400;
  color: #434d5b;
}

/* __ Contact Page __ */
/* __ Donate Page __ */
.__donate-page {
  /* > Main Section */
}
.__donate-page .__main-section {
  padding: 5rem 2rem;
}
.__donate-page .__main-section p {
  font-size: 0.9rem;
  line-height: 1.8;
  color: #6f7f95;
}
.__donate-page .__main-section .row > div {
  padding: 0;
  padding-bottom: 3rem;
  border: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.__donate-page .__main-section .row > div h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-top: 3rem;
}

/* __ Footer __ */
.__footer .__section {
  width: 100%;
  padding: 2rem;
  background-color: #0180ff;
  color: #ffffff;
  min-height: 300px;
  padding-bottom: 5rem;
}
.__footer .__section h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-top: 3rem;
}
.__footer .__section .links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.__footer .__section .links a {
  font-size: 0.9rem;
  font-weight: 500;
}
.__footer .__section .links a:hover {
  text-decoration: underline;
}
.__footer .__attribution {
  width: 100%;
  padding: 1rem 2rem;
  padding-top: 2rem;
  background-color: #0073e6;
  color: #ffffff;
}
.__footer .__attribution p {
  font-size: 0.85rem;
  line-height: 1.5rem;
}
.__footer .__attribution img {
  width: 25px;
  height: 25px;
  margin-left: 1rem;
}
.__footer .__attribution a:first-child img {
  margin-left: 0;
}

/* __ Top to Bottom __ */
.__t2b {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}
.__t2b button {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.__t2b button svg {
  width: 1.1rem;
  height: 1.1rem;
  fill: #ffffff;
}

/* Media Queries */
@media screen and (max-width: 1199px) {
  .__navbar .__menu {
    padding-top: 0.6rem;
  }
  .__navbar .__menu > ul {
    max-width: 250px;
    border-radius: 0.4rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }
  .__navbar .__menu > ul > li {
    padding: 0.8rem 1rem;
    margin: 0;
    border-radius: 0;
  }
  .__navbar .__menu > ul > li a {
    font-weight: 400;
  }
  .__navbar .__menu > ul > li:first-child {
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .__navbar .__menu > ul > li:last-child {
    border-radius: 0 0 0.4rem 0.4rem;
  }
}
@media screen and (min-width: 992px) {
  .__media .col-lg-6 {
    flex: 0 0 auto;
    width: 48%;
  }
}
@media screen and (max-width: 992px) {
  .__home-page .__hero-section {
    padding: 1rem;
    text-align: center;
  }
  .__home-page .__hero-section .__details {
    padding: 0.3rem 1rem 5rem 1rem;
  }
  .__home-page .__hero-section .__details h1 {
    width: 100%;
    font-size: 2rem;
    line-height: 1.4;
    margin-top: 2rem;
  }
  .__home-page .__hero-section .__details p {
    font-size: 0.87rem;
    line-height: 1.84;
  }
  .__home-page .__hero-section .__details .__action {
    align-items: center;
    padding: 0 2rem;
  }
  .__home-page .__hero-section .__details .btn {
    padding: 0.45rem 2rem;
  }
  .__home-page .__hero-section .__designs {
    text-align: center;
  }
  .__home-page .__hero-section .__designs img {
    max-width: 300px;
    aspect-ratio: 3/2;
  }
}
@media screen and (max-width: 766px) {
  .__home-page .__feature-section .container p {
    font-size: 0.9rem;
  }
  .__home-page .__media-section .__title svg,
  .__updates-page .__media-section .__title svg {
    display: none;
  }
  .__home-page .__media-section .__title h3,
  .__updates-page .__media-section .__title h3 {
    font-size: 1.2rem;
    padding: 0 0.8rem;
    line-height: 1.5;
  }
  .__home-page .__media-section .__media,
  .__updates-page .__media-section .__media {
    min-height: 600px !important;
  }
  .__home-page .__media-section .__media .row > .col-md-6,
  .__updates-page .__media-section .__media .row > .col-md-6 {
    width: 100% !important;
  }
  .__team-page .__hero-section h1 {
    font-size: 2.4rem;
  }
  .__team-page .__hero-section p {
    font-size: 0.87rem;
  }
  .__team-page .__list-section .__lists .__list img {
    width: 60%;
  }
}